@import "common";
.pro {
	color: darken($white, 20%);
	line-height:50px;
	margin-right:10px;
	&-box {
		position:absolute;
		width:140px;
		right:10px;
		padding:5px 5px;
		top:52px;
		background-color: $white;
		box-shadow: 0 0 3px #ccc;
		border-radius: 5px;
		&::after {
			content: '';
			border-width:0 10px 10px 10px;
			border-style: solid;
			border-color: transparent transparent $white transparent;
			position:absolute;
			right:10px;
			top:-10px;
		}
		li {
			
			line-height: 30px;
		}
		a {
			display: block;
			height:30px;
			line-height:30px;
			color:#666;
			padding:0 15px;
			border-radius:5px;
			&:hover {
				text-decoration: none;
				background-color:darken($white, 10%);
			}
		}
		.glyphicon {
			margin-right:10px;
		}
	}
}