ul,li {
	padding:0;
	margin:0;
	list-style:none;
}
body {
	//padding-top: 50px;
}

@import "header";

.box {
	margin:0 0;
	padding:5px 0;
	background-color: lighten($black, 94%);
	border-radius:5px;
	position:relative;
	max-height:100%;
	h4 {
		padding:5px 10px;
		margin:0;
		font-size:14px;
	}
	.menu {
		position: absolute;
		right:10px;
		top: 5px;
		span {
			font-size: 14px;
			color: lighten($black, 60%);
			cursor: pointer;
		}
	}
	ul {
		/* position: absolute;
		left:0;
		right:0;
		top:30px;
		bottom:20px; */
		overflow:auto;
	}
	li {
		margin:10px;
		margin-top:0;
		position: relative;
		background-color: $white;
		border-radius: 5px;
		padding:5px;
		overflow: hidden;
		border-width:0 0 0 3px;
		border-style: solid;
		border-color: $white;
		box-shadow: 0 1px 1px lighten($black, 80%);
		&:hover {
			background-color: lighten($black, 98%);
		}
		&.add-status {
			background-color: lighten($black, 94%);
			box-shadow: none;
			border-left-color: lighten($black, 94%);
			textarea {
				background-color: $white;
				border-radius: 5px;
				margin-bottom: 5px;
			}
		}
		.cancel {
			margin-left: 10px;
			vertical-align: middle;
			font-size:16px;
			color: lighten($black, 60%);
			cursor: pointer;
		}
	}
}

textarea {
	border-width:0;
	padding: 5px;
	width: 100%;
	background-color: $white;
	resize: none;
}

.dashboard {
	margin-top:15px;
/* 	height: 100%;
	.col-lg-3 {
		height: 100%;
	} */
}

section {
	position:absolute;
	top:50px;
	bottom:10px;
	left:0;
	right:0;
}

.list-card-member {
	//position: absolute;
	float:right;
	bottom: 10px;
	right: 10px;
	span {
		display: inline-block;
		width:30px;
		height:30px;
		margin-left:5px;
		text-align: center;
		line-height:30px;
		background-color: lighten($black, 90%);
		border-radius:5px;
		font-weight: bold;
		font-size:12px;
	}
}

.glyphicon {
	color: lighten($black, 80%);
	font-size: 12px;
	&:hover {
		color: lighten($black, 40%)!important;
	}
}

.edit {
	position: absolute;
	top:10px;
	right: 10px;
	span {
		cursor: pointer;
	}
}

.date {
	i {
		margin-right:5px;
	}
	font-size:12px;
	color: lighten($black, 60%);
}

a.title {
	display: block;
	margin-right: 30px;
	color: lighten($black, 30%);
	font-size:14px;
	padding:5px 0;
	line-height:120%;
}

.task {
	border-color: #5cb85c!important;
}
.story {
	border-color: #5bc0de!important;
}
.bug {
	border-color: #d9534f!important;
}
.wran {
	border-color: #f0ad4e!important;
}


.menu-box {
	position: absolute; 
	width:240px;
	padding: 10px;
	border-radius: 5px;
	box-shadow: 0 1px 1px lighten($black, 80%);
	background-color: $white;
	h5 {
		text-align: center;
		font-weight: normal;
		margin: 0;
		padding:0 10px 10px;
		border-bottom:1px solid lighten($black, 85%); 
		color: lighten($black, 60%);
	}
	ul {
		padding: 5px 0;
	}
	li {
		font-weight: bold;
		
		font-size:16px;
		a {
			display: block;
			padding: 5px 10px;
			color: lighten($black, 30%);
			text-decoration: none;
			border-radius: 5px;
			&:hover {
				background-color: lighten($black, 95%);
			}
		}
	}
	.close-btn {
		position: absolute;
		width: 16px;
		height:16px;
		top: 8px;
		right: 10px;
		cursor: pointer;
	}
}
.shade {
	position: fixed;
	top:0;
	right:0;
	bottom:0;
	left:0;
	z-index: 1031;
	&-bg {
		width:100%;
		height:100%;
		background-color: $black;
		opacity: .7;
	}
	.card-form {
		position: absolute;
		padding:0 10px;
		z-index: 2;
		height:200px;
		textarea {
			margin-bottom:5px;
			border-radius: 5px;
			padding:5px;
			height:auto;
			min-height: 80px;

		}
		input[type=button] {
			margin-right:10px;
		}
		.menu {
			position: absolute;
			left:310px;
			top:0;
			li {
				margin:5px 0 10px;
				a {
					padding:5px 10px;
					border-radius: 5px;
					background:rgba(0,0,0,.6);
					color: darken($white, 30%);
					white-space: nowrap;
					text-decoration: none;
					&:hover {
						margin-left:5px;
						background-color: rgba(0,0,0,.8);
					}
					span {
						margin-right:10px;
					}
				}
			}
		}
	}
}