<div class="container-fluid dashboard">
	<div class="col-lg-3" ng-repeat=" obj in list" ng-init="obj.index = $index">
		<div class="box">
			<h4>{{ obj.name }}</h4>
			<div class="menu">
				<span class="glyphicon glyphicon-download" ng-click="showMenu($event, obj.index)"></span>
			</div>
			<ul>
				<li ng-repeat="card in obj.data | filter:{title:keyword} " ng-init="card.index = $index" class="{{ card.type }}" ng-class="{'add-status':!card.title}" ng-mouseenter="showEdit = card.title" ng-mouseleave="showEdit = false">
					<a href="" class="title" ng-if="card.title">{{ card.title }}</a>
					<div ng-if="!card.title">
						<textarea ng-model="vm.cardNewTitle"></textarea>
						<input type="button" class="btn btn-success" value="Save" ng-click="saveCard(index)">
						<span class="glyphicon glyphicon-remove cancel" ng-click="cancelCard(index)"></span>
					</div>
					<!-- edit -->
					<div class="edit" ng-show="showEdit">
						<span class="glyphicon glyphicon-pencil" ng-click="editCard($event,obj.index, card.index)"></span>
					</div>
					<!-- -->
					<div class="date" ng-if="card.date">
						<i class="glyphicon glyphicon-time"></i>{{ card.date | date:'yyyy-MM-dd' }}
					</div>
					<div class="list-card-member" ng-if="card.member">
						<span class="member" ng-repeat="m in card.member" title="{{ m }}">{{ m | nameFilter }}</span>
					</div>
				</li>
			</ul>     
		</div>
	</div>
	<div ng-show="menuBox" class="menu-box" style="top:{{ menuBoxTop }}px;left:{{ menuBoxLeft }}px">
		<h5>List Action</h5>
		<div class="close-btn">
			<span class="glyphicon glyphicon-remove" ng-click="close()"></span>
		</div>
		<ul>
			<li><a href="javascript:;" ng-click="addCard(index)">Add Card...</a></li>
			<li><a href="">Copy List...</a></li>
			<li><a href="">Move Card...</a></li>			
		</ul>
	</div>
</div>
 <div class="shade" ng-show="modal">
 	<div class="shade-bg"></div>
 	<div class="card-form" style="width:{{ shadeWidth }}px;left:{{ shadeLeft }}px;top:{{ shadeTop }}px;">
 		<textarea ng-model="cardEditTitle" class="{{ cardLable }}">{{ cardEditTitle }}</textarea>
 		<input type="button" class="btn btn-success" value="Save" ng-click="saveEditCard(index,i)">
		<span class="glyphicon glyphicon-remove cancel" ng-click="cancelEditCard(index,i)"></span>

		 <ul class="menu">
		 	<li>
		 		<a href="javascript:;" ng-click="typeLable = !typeLable"><span class="glyphicon glyphicon-tag"></span>Edit Type</a>
		 		<div class="popbox type-box" ng-show="typeLable">
		 			<h5>Card Type</h5>
		 			<div class="close">
		 				<span class="glyphicon glyphicon-remove" ng-click="typeLable=false"></span>
		 			</div>
		 			<ul>
			 			<li class="story" ng-click="cardLable = 'story';typeLable = false;">Story</li>
			 			<li class="task" ng-click="cardLable = 'task';typeLable = false;">Task</li>
			 			<li class="bug" ng-click="cardLable = 'bug';typeLable = false;">Bug</li>
			 			<li class="wran" ng-click="cardLable = 'wran';typeLable = false;">Wran</li>
			 		</ul>
		 		</div>
		 	</li>
		 	<li>
		 		<a href="javascript:;" ng-click="addMemberShow = !addMemberShow"><span class="glyphicon glyphicon-user"></span>Change Member</a>
		 		<div class="popbox member-box" ng-show="addMemberShow">
		 			<h5>Member</h5>
		 			<div class="close">
		 				<span class="glyphicon glyphicon-remove" ng-click="addMemberShow=false"></span>
		 			</div>
		 			<input type="text" class="form-control" placeholder="Member..." ng-model="memberFilter">
		 			<ul class="list-card-member">
		 				<li ng-click="changeMember(m.name)" ng-repeat="m in members | filter:{'name':memberFilter}">
		 					<span class="member">{{ m.name | nameFilter }}</span>
		 					<i class="glyphicon glyphicon-ok" ng-if=" (cardMember | filter: m.name).length > 0"></i>
		 						{{ m.name }}
		 					<strong>({{ m.id }})</strong>
		 				</li>
		 			</ul>
		 		</div>
		 	</li>
		 	<li>
		 		<a href="javascript:;"><span class="glyphicon glyphicon-arrow-right"></span>Move</a>
		 	</li>
		 	<li>
		 		<a href="javascript:;"><span class="glyphicon glyphicon-floppy-disk"></span>Copy</a>
		 	</li>
		 	<li>
		 		<a href="javascript:;" ng-click="dueDateShow = !dueDateShow"><span class="glyphicon glyphicon-time"></span>Change Duedate</a>
		 		<div class="popbox" ng-show="dueDateShow">
		 			<h5>Change Due Date</h5>
		 			<div class="close">
		 				<span class="glyphicon glyphicon-remove" ng-click="dueDateShow=false"></span>
		 			</div>
		 			<form class="form-inline">
		 				<div class="form-group">
			 			 	<label for="date">Due Datetime:</label>
							<input type="text" class="form-control" id="date" value="{{ data.date | date:'yyyy-MM-dd hh:mm:ss'}}">
			 			 </div>
		 			</form>
		 			<datetimepicker data-ng-model="data.date"></datetimepicker>
		 		</div>
		 	</li>
		 </ul>
 	</div>
 </div>